pbs.walltime=12:00:00
pbs.project=lp_vsc32982
pbs.nodes=1
pbs.ppn=36
pbs.email=yichao.hua@kuleuven.be
sce.database.path.human.TFs=${VSC_DATA}/SCENIC/databases/hs_hgnc_tfs.txt
sce.database.path.human.motifs=${VSC_DATA}/SCENIC/databases/motifs-v9-nr.hgnc-m0.001-o0.0.tbl
sce.database.path.human.db=${VSC_DATA}/SCENIC/databases/hg38__refseq-r80__10kb_up_and_down_tss.mc9nr.feather
sce.database.path.mouse.TFs=${VSC_DATA}/SCENIC/databases/mm_mgi_tfs.txt
sce.database.path.mouse.motifs=${VSC_DATA}/SCENIC/databases/motifs-v9-nr.mgi-m0.001-o0.0.tbl
sce.database.path.mouse.db=${VSC_DATA}/SCENIC/databases/mm9-tss-centered-10kb-7species.mc9nr.feather
cellranger.program.path=${VSC_DATA}/CellRanger/cellranger-5.0.1
cellranger.ref.mouse=${VSC_SCRATCH}/TRANSFER/refdata-gex-mm10-2020-A
cellranger.ref.human=${VSC_DATA}/CellRanger/cellranger-3.0.2/refdata-cellranger-GRCh38-3.0.0
